<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="mailing"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.lokoproject.mailing.entity.Mailing</class>
        <class>com.lokoproject.mailing.entity.GroovyScript</class>
        <class>com.lokoproject.mailing.entity.Notification</class>
        <class>com.lokoproject.mailing.entity.NotificationStageLog</class>
        <class>com.lokoproject.mailing.entity.MailingIdentifier</class>
        <class>com.lokoproject.mailing.entity.WayToGetMailingIdentifier</class>
    </persistence-unit>
</persistence>
