/* Define your theme modifications inside next mixin */
@mixin com_lokoproject_mailing-hover-ext {

  .v-tree-node-caption.red{
    background-color: coral;
    border-radius: 4px;
  }

  .v-table-row-odd.bold {
    font-weight:bold;
   }
  .v-table-row.bold {
    font-weight:bold;
  }

  .container {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


  /* bell_notifications */

  .bell_notification {
    display: inline-block;
    position: relative;
    padding: 0.6em;
    font-size: 1.7em;
  }

  .bell_notification::before,
  .bell_notification::after {

    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  }

  .bell_notification::before {
    color: black;
   
    display: block;
    content: "\f0f3";
    font-family: "FontAwesome";
    transform-origin: top center;
  }

  .bell_notification::after {
    color:#fff;
    font-family: Arial;
    font-size: .4em;
    font-weight: 700;
    position: absolute;
    top: 28px;
    right: -11px;
    padding: 4px 5px;
    line-height: 100%;
    border: 3px #fff solid;
    border-radius: 60px;
    background: #e84c0b;
    opacity: 0;
    content: attr(data-count);
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    transition: transform,opacity;
    transition-duration: .3s;
    transition-timing-function: ease-out;
  }

  .bell_notification.notify::before {
    -webkit-animation: ring 1.5s ease;
    animation: ring 1.5s ease;
    @include animation(ring 1.5s 0s)
  }

  .bell_notification.show-count::after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  .bell_notification {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width:20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* The actual popup */
  .bell_notification .bell-popuptext {
    //visibility: hidden;
    width: 20vw;
    background-color: white;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
    padding: 8px 0;
    position: absolute;
    //z-index: -100;
    top: 10000%;
    left: 150%;
    margin-left: -80px;
    border: 1px solid #555;
  }

  /* Popup arrow */
  .bell_notification .bell-popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 30px;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
  }


  .bell_notification .show {
    top: 100%;
    //visibility: visible;
    -webkit-animation: fadeInDown 0.5s;
    animation: fadeInDown 0.5s;
    //opacity: 1;
    //z-index: 1;
  }

  .notification-line{
    text-align:left;
    font-size:75%;
    color:#a1a2a5;
    letter-spacing: 1px;


  }
  .notification-theme{
    text-align:left;
    margin:  7px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;

  }

  .notification-item{
    text-align:left;
    padding: 0 8px;
    cursor:pointer;
    transition:background-color 0.3s;
    border-radius:2px;
  }

  .notification-item:hover{
    background-color:#eaecef;

  }


}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@keyframes fadeInDown {
   from{
     opacity: 0;
     transform: translate3d(0, -20px, 0);
   }
  to{
    opacity: 1;
    transform: none;
  }
 }

@-webkit-keyframes fadeInDown {
  from{
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to{
    opacity: 1;
    transform: none;
  }
}


@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(35deg);
  }
  12.5% {
    -webkit-transform: rotate(-30deg);
  }
  25% {
    -webkit-transform: rotate(25deg);
  }
  37.5% {
    -webkit-transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
  }
  62.5% {
    -webkit-transform: rotate(-10deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }
  12.5% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  25% {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  37.5% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  62.5% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}